= form_for object, remote: true do |f|
	%section.white
		%section
			= f.label :name, "What would you like to call your new blog?"
			= f.text_field :name
		%section
			%span gramlog.com/b/
			= f.text_field :slug
	= button_tag "Save", class: "green"
		